
.weather-app
  display flex
  flex-flow column wrap
  background linear-gradient(to bottom right, $colorRed, $colorOrange, $colorTeal, $colorGreen, $colorBlue, $colorViolet)
  color $colorLight3
  align-content center
  text-align center

.form_weather
  width 100%

.form__input_weather
  padding 1rem
  color $colorDark2
  border-radius 1.5rem 0 1.5rem 0
  font-size: $fontSize * 2
  margin 1rem 0 0
  text-align center
  text-transform capitalize

.mode-setters
  display flex
  flex-flow row nowrap
  justify-content center

.set-mode
  background alpha($colorWhite, 0)
  border 0
  border-bottom 0.1rem solid
  padding 0.5rem 1.5rem
  color $colorLight3
  font-size 1rem
  flex 0 1 auto

  &:hover
    background darken(alpha($colorWhite, 0.15), 4)

.general-wrapper
  display flex
  justify-content space-evenly
  padding 0 0 2rem
  flex-flow row wrap

.weather-city, .city
  font-size 3rem
  font-weight 300
  text-transform capitalize

.desc
  font-size 1.5rem
  font-weight 300

.feels-like
  font-weight 300

.weather-temp
  display flex
  flex-flow column nowrap
  justify-content space-around

.temp
  font-size 5rem
  font-weight 100

.min-max
  font-size 2rem
  font-weight 300

.daily-wrapper
  position relative

.daily
  padding 1rem

  &::before
    writing-mode sideways-lr
    text-orientation upright
    position absolute
    left 0
    padding 0.5rem

  p
    margin 0
    padding 0.5rem 0

.morn
  background $colorViolet

  &::before
    content 'Morning'

.day
  background $colorBlue4

  &::before
    content 'Afternoon'

.eve
  background $colorBlue1

  &::before
    content 'Evening'

.night
  background $colorBlue0

  &::before
    content 'Night'