.nav-list
  display flex
  list-style none

.nav-list-item
  margin 1rem 0

.nav-link
  padding 1rem
  background $colorRed0
  color white
  text-decoration none

  &:hover
    text-decoration underline
    background white
    color $colorRed0