.category-listing
  display flex
  flex-flow row wrap

.recipes
  display grid
  grid-auto-flow row dense
  grid-auto-columns 1fr
  grid-auto-rows 1fr
  grid-template-columns repeat(2, 2fr)
  gap 1em 1em

.recipe-card
  display flex
  flex-flow column wrap
  border solid $colorRed3 0.1rem
  border-radius 1rem
  padding 2rem
  align-items center
  text-align center

  img
    width 25rem
    height 25rem
    object-fit cover

.recipe-title
  text-transform capitalize

.sentence
  text-transform capitalize

  &::first-letter
    capitalize

.instructions
  padding 0 4rem